@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ebebff;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: #fff;
}

.nav-links {
  display: none;
}

